{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "airbnb",
        "airbnb/hooks",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "plugins": ["react", "import", "prettier"],
    "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-empty-function": "off",
        "@typescript-eslint/no-empty-interface": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/camelcase": "off",
        "no-bitwise": "off",
        "eqeqeq": ["error", "always"],
        "no-restricted-syntax": "off",
        "no-underscore-dangle": "off",
        "func-names": "off",
        "no-return-assign": "off",
        "generator-star-spacing": "off",
        "no-await-in-loop": "off",
        "no-continue": "off",
        "spaced-comment": ["error", "always", { "markers": ["/"] }],
        "comma-dangle": ["error", "always-multiline"],
        "arrow-parens": ["error", "always"],
        "space-before-function-paren": "off",
        "indent": "off",
        "max-len": [
            "error",
            120,
            2,
            {
                "ignoreUrls": true,
                "ignoreComments": false,
                "ignoreRegExpLiterals": true,
                "ignoreStrings": true,
                "ignoreTemplateLiterals": true
            }
        ],
        "padding-line-between-statements": "off",
        "default-param-last": "off",
        "implicit-arrow-linebreak": "off",
        "no-plusplus": "off",
        "max-classes-per-file": "off",
        "operator-linebreak": "off",
        "object-curly-newline": "off",
        "class-methods-use-this": "off",
        "no-confusing-arrow": "off",
        "no-promise-executor-return": "off",
        "function-paren-newline": "off",
        "no-param-reassign": "off",
        "no-shadow": "warn",
        "no-eval": "warn",
        "consistent-return": "off",
        "prettier/prettier": "error",
        "@typescript-eslint/explicit-function-return-type": "off",
        "react/prop-types": "off",
        "react/static-property-placement": "off",
        "react/require-default-props": "off",
        "react/state-in-constructor": "off",
        "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
        "react/jsx-one-expression-per-line": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-props-no-spreading": "off",
        "react/destructuring-assignment": "off",
        "react/sort-comp": "off",
        "react/no-array-index-key": "off",
        "react-hooks/exhaustive-deps": "warn",
        "react-hooks/rules-of-hooks": "off",
        "import/prefer-default-export": "off",
        "import/order": [
            "error",
            {
                "groups": [["builtin", "external"], "internal", "parent", "sibling", "index"],
                "newlines-between": "always"
            }
        ],
        "import/no-unresolved": "off",
        "import/extensions": "off",
        "import/no-extraneous-dependencies": ["off"],
        "arrow-body-style": "off",
        "no-unused-expressions": "off",
        "no-use-before-define": "off"
    },
    "overrides": [
        {
            "files": ["*.tsx?"],
            "env": {
                "browser": true
            },
            "globals": {
                "window": true,
                "document": true
            }
        },
        {
            "files": ["*.test.ts", "*.test.tsx"],
            "plugins": ["jest", "prettier"],
            "env": {
                "browser": true,
                "mocha": true,
                "jest/globals": true
            },
            "rules": {
                "no-var": "off",
                "no-multi-assign": "off"
            }
        }
    ],
    "settings": {
        "react": {
            "version": "18.2.0"
        }
    }
}
